{%load static%}
<!-- ******FOOTER****** --> 
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col col-lg-3 col-md-4 col-12 links-col">
                    <div class="footer-col-inner">
                        <h3 class="sub-title">Quick Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="{% url 'work' %}">Our work</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>                                
                            <li><a href="{% url 'blog:blog_list' %}">Blog</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-lg-6 col-md-8 col-12 blog-col">
                    <div class="footer-col-inner">
                        <h3 class="sub-title">Latest From Our Blog</h3>
                        <div class="item">
                            <figure class="figure">
                                <img class="img-fluid rounded" src="{% static 'images/blog/blog-tiny-thumb-1.jpg' %}" alt="" />
                            </figure>
                            <div class="content">
                                <h4 class="post-title"><a href="blog-post.html">DevStudio helps XYZ launch</a></h4>
                                <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales dolor ut ligula faucibus...</p>
                                <ul class="meta list-inline">
                                    <li class="list-inline-item">18 Feb</li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">James Lee</li>
                                </ul>
                            </div><!--//content-->
                        </div>  
                        <div class="item">
                            <figure class="figure">
                                <img class="img-fluid rounded" src="{% static 'images/blog/blog-tiny-thumb-2.jpg' %}" alt="" />
                            </figure>
                            <div class="content">
                                <h4 class="post-title"><a href="blog-post.html">Free Bootstrap Themes</a></h4>
                                <p class="intro">Mauris libero leo, dapibus a congue ut, mollis sed nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus augue nec nulla ultricies...</p>
                                <ul class="meta list-inline">
                                    <li class="list-inline-item">21 Dec</li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">Vincent Fowler</li>
                                </ul>
                            </div><!--//content-->
                        </div>                                                     
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col--> 
                <div class="footer-col col-lg-3 col-12 contact-col">
                    <div class="footer-col-inner">
                        <h3 class="sub-title">Get In Touch</h3>
                        <p class="intro"></p>
                        <div class="row">
                            <p class="adr clearfix col-lg-12 col-md-4">
                                <!--//You can replace the SVG icon below to your preferred Bootstrap icon - https://icons.getbootstrap.com/ -->
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-geo me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M11 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
<path d="M7.5 4h1v9a.5.5 0 0 1-1 0V4z"/>
<path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 0 1-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 1 1 .212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 0 1 .595.383z"/>
</svg>     
                                <span class="adr-group">       
                                    <span class="street-address">56 College Green Road</span><br />
                                    <span class="city">London</span><br />
                                    <span class="postal-code">SW1Y 4GG</span><br />
                                    <span class="country-name">UK</span>
                                </span>
                            </p>
                            <p class="tel col-lg-12 col-md-4 col-12">
                            <!--//You can replace the SVG icon below to your preferred Bootstrap icon - https://icons.getbootstrap.com/ -->
                            <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-headset me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M8 1a5 5 0 0 0-5 5v4.5H2V6a6 6 0 1 1 12 0v4.5h-1V6a5 5 0 0 0-5-5z"/>
<path d="M11 8a1 1 0 0 1 1-1h2v4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V8zM5 8a1 1 0 0 0-1-1H2v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V8z"/>
<path fill-rule="evenodd" d="M13.5 8.5a.5.5 0 0 1 .5.5v3a2.5 2.5 0 0 1-2.5 2.5H8a.5.5 0 0 1 0-1h3.5A1.5 1.5 0 0 0 13 12V9a.5.5 0 0 1 .5-.5z"/>
<path d="M6.5 14a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2h-1a1 1 0 0 1-1-1z"/>
</svg>
<a href="tel:+08001234567">0800 123 4567</a></p>
                            <p class="email col-lg-12 col-md-4 col-12">
                                <!--//You can replace the SVG icon below to your preferred Bootstrap icon - https://icons.getbootstrap.com/ -->
                                <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-envelope me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
</svg><a href="#">hello@yourdevstudio.com</a></p> 
                        </div> 
                    </div><!--//footer-col-inner-->            
                </div><!--//foooter-col-->   
            </div>   
        </div>        
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container center">                                   
            <ul class="social-icons list-inline">
                <li class="list-inline-item"><a href="https://twitter.com/3rdwave_themes"><i class="fa-brands fa-x-twitter"></i></a></li>                        
                <li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="https://www.facebook.com/3rdwavethemes"><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="list-inline-item last"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>                  
            </ul> 
            <small class="copyright text-center">Template Copyright @ <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>                 
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->

<!-- Contact Modal -->
<div class="modal modal-contact" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                <h5 id="contactModalLabel" class="modal-title">Start your project today</h5>
            </div>
            <div class="modal-body">
                <p class="intro text-center">Lorem ipsum dolor sit amet consectetur adipiscing elit laoreet tortor consequat nisi scelerisque commodo etiam justo sapien.</p>
                <ul class="contact-info list-inline text-center">
                    <li class="tel list-inline-item">
                        <div class="icon-holder mb-3">
                        
                           <!--//You can replace the SVG icon below to your preferred Bootstrap icon - https://icons.getbootstrap.com/ -->
                           <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-telephone-inbound" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.47 16.47 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.471 17.471 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z"/>
</svg>

                        </div>
                        <div>
                            <a class="text-link" href="+0800123456">0800 123 4567</a>
                        </div>
                    </li>
                    <li class="email list-inline-item">
                       <div class="icon-holder mb-3">
                       <!--//You can replace the SVG icon below to your preferred Bootstrap icon - https://icons.getbootstrap.com/ -->
<svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
</svg>
                       </div>
                       <div>
                           <a class="text-link" href="#">hello@yourdevstudio.com</a>
                       </div>
                    </li>
                </ul>
                <form id="contact-form" class="contact-form" method="post" action="#">                    
                    <div class="row text-center">
                        <div class="contact-form-inner">
                            <div class="row g-3" >                                                           
                                
                                <div class="col-lg-6 col-md-6 col-12">
                                    <label class="sr-only" for="cname">Your name</label>
                                    <input type="text" class="form-control" id="cname" name="name" placeholder="Your name" minlength="2" required>
                                </div>                    
                                <div class="col-lg-6 col-md-6 col-12">
                                    <label class="sr-only" for="cemail">Email address</label>
                                    <input type="email" class="form-control" id="cemail" name="email" placeholder="Your email address" required>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <label class="sr-only" for="cmessage">Your message</label>
                                    <textarea class="form-control" id="cmessage" name="message" placeholder="Enter your message" rows="12" required></textarea>
                                </div>
                                 <div class="col-lg-12 col-12">
                                    <button type="submit" class="btn w-100 btn-cta btn-cta-primary">Send Message</button>
                                </div>                           
                            </div><!--//row-->
                        </div>
                    </div><!--//row-->
                </form><!--//contact-form-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->

<!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->  
<div id="config-panel" class="config-panel config-panel-hide d-none d-lg-block">
    <div class="panel-inner">
        <a id="config-trigger" class="config-trigger" href="#">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sliders" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M14 3.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zM11.5 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM7 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zM4.5 10a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm9.5 3.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zM11.5 15a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
<path fill-rule="evenodd" d="M9.5 4H0V3h9.5v1zM16 4h-2.5V3H16v1zM9.5 14H0v-1h9.5v1zm6.5 0h-2.5v-1H16v1zM6.5 9H16V8H6.5v1zM0 9h2.5V8H0v1z"/>
</svg></a>
        <h5>Choose Colour</h5>
        <ul id="color-options" class="list-unstyled list-inline">
            <li class="list-inline-item theme-1 active" ><a data-style="assets/css/theme-1.css" href="#"></a></li>
            <li class="list-inline-item theme-2"><a data-style="assets/css/theme-2.css" href="#"></a></li>
            <li class="list-inline-item theme-3"><a data-style="assets/css/theme-3.css" href="#"></a></li>
            <li class="list-inline-item theme-4"><a data-style="assets/css/theme-4.css" href="#"></a></li>                   
            <li class="list-inline-item theme-5"><a data-style="assets/css/theme-5.css" href="#"></a></li>                     
            <li class="list-inline-item theme-6"><a data-style="assets/css/theme-6.css" href="#"></a></li>
            <li class="list-inline-item theme-7"><a data-style="assets/css/theme-7.css" href="#"></a></li>
            <li class="list-inline-item theme-8"><a data-style="assets/css/theme-8.css" href="#"></a></li>                    
            <li class="list-inline-item theme-9"><a data-style="assets/css/theme-9.css" href="#"></a></li>
            <li class="list-inline-item theme-10"><a data-style="assets/css/theme-10.css" href="#"></a></li>
        </ul><!--//color-options-->
        <a id="config-close" class="close" href="#"><i class="fas fa-times-circle"></i></a>
    </div><!--//panel-inner-->
</div><!--//config-panel-->