{% extends "base.html" %}
{% load blog_tags %}
{%load static%}
{% block title %}Blog{% endblock %}
{% block layout %}


<body class="blog-home-page">   
    <div class="header-wrapper header-wrapper-blog-home"> 
        <section class="promo section">
            <div class="container text-center">                
                <h2 class="title">Welcome to Our Blog</h2>
                <p class="intro">Dive into a world of insights, stories, and inspiration. Stay updated with the latest trends and ideas!</p>
            </div><!--//container-->
        </section><!--//promo-->
    </div><!--//header-wrapper-->
       
    <!-- ******Blog list Section****** -->
    <section id="blog-list" class="blog-list section">
        <div class="container">
            {% for post in posts %}
            <article class="item">                  
                <div class="row">
                    <h3 class="post-title col-lg-10 col-md-9 col-12 ms-md-auto">
                        <a href="{% url 'blog:blog_detail' slug=post.slug %}">
                            {{ post.title }}
                        </a>
                    </h3>
                    <div class="w-100"></div>
                    <div class="meta col-lg-2 col-md-3 col-12 text-right">
                        <ul class="meta-list list-unstyled">                                       
                            <li class="post-time post_date date updated rounded">
                                <span class="date">{{ post.pub_date|date:"d" }}</span>
                                <span class="month">{{ post.pub_date|date:"M" }}</span>
                            </li>
                            <li class="post-author">
                                <a href="#">{{ post.author.get_full_name|default:"Admin" }}</a>
                            </li>
                            <li class="post-comments-link">
                                Comments: <a href="{% url 'blog:blog_detail' slug=post.slug %}#comment-area">
                                    {{ post.comments.count|default:"0" }}
                                </a>
                            </li>
                        </ul>                       	
                    </div>                  
                    <div class="content-wrapper col-lg-10 col-md-9 col-12">
                        <!-- changed this part -->
                        <figure class="figure" style="height: 300px;">
                            <img src="{{ post.image.url }}" class="img-fluid w-100 h-100 object-fit-cover" alt="{{ post.title }}">
                        </figure>
                        
                        <div class="content">
                            <div class="desc">
                                {{ post.get_excerpt|safe }}
                                

                                <a class="text-link" href="{% url 'blog:blog_detail' slug=post.slug %}">
                                    Read more <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>  
                </div>
            </article>
            {% endfor %}
            
                <div class="pagination-container text-center">
            {% if is_paginated %}
                <ul class="pagination justify-content-center">

                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for num in paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            {% endif %}
        </div>
            </article><!--//item-->
        </div><!--//container-->
    </section><!--//blog-list--> 
</body>


{%endblock%}
